<main>
    <br>
    <div>
        <h1 class="text-center"> {{make}} {{model}} </h1>
    </div>
    <hr>
    <section>
        <div>
            <h2>
                <p class="fw-semibold text-center">{{description}}</p>
                <p class="fw-semibold text-center">Color - {{color}} | Year - {{year}}</p>
            </h2>
        </div>
    </section>
    <section>
        {{#with features}}
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <h3>Interior</h3>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {{#with interior}}
                        <p>
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseExampleOne" aria-expanded="false"
                                aria-controls="collapseExampleOne">
                                <b>Seats</b>
                            </button>
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseExampleTwo" aria-expanded="false"
                                aria-controls="collapseExampleTwo">
                                <b>Dashboard</b>
                            </button>
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseExampleThree" aria-expanded="false"
                                aria-controls="collapseExampleThree">
                                <b>Audio</b>
                            </button>
                        </p>
                        <div class="collapse" id="collapseExampleOne">
                            <div class="card card-body">
                                {{#with seats}}
                                <h5 class="fw-semibold text-center">Seats</h5>
                                <ul class="list-group">
                                    <li class="list-group-item"><b>Material: </b>{{material}}</li>
                                    <li class="list-group-item"><b>Color: </b>{{color}}</li>
                                    <li class="list-group-item"><b>Heated: </b>{{heated}}</li>
                                    <li class="list-group-item"><b>Ventilated: </b>{{ventilated}}</li>
                                </ul>
                                {{/with}}
                            </div>
                        </div>
                        <div class="collapse" id="collapseExampleTwo">
                            <div class="card card-body">
                                {{#with dashboard}}
                                <h5 class="fw-semibold text-center">Dashboard</h5>
                                <ul class="list-group">
                                    <li class="list-group-item"><b>Material: </b>{{material}}</li>
                                    <li class="list-group-item"><b>Color: </b>{{color}}</li>
                                    <li class="list-group-item"><b>Display: </b>type: {{display.type}}, size:
                                        {{display.size}}, resolution: {{display.resolution}}, touchscreen:
                                        {{display.touchscreen}}</li>
                                </ul>
                                {{/with}}
                            </div>
                        </div>
                        <div class="collapse" id="collapseExampleThree">
                            <div class="card card-body">
                                {{#with audio}}
                                <h5 class="fw-semibold text-center">Audio</h5>
                                <ul class="list-group">
                                    <li class="list-group-item"><b>System: </b>{{system}}</li>
                                    <li class="list-group-item"><b>Speakers: </b>{{speakers}}</li>
                                    <li class="list-group-item"><b>Subwoofer: </b>{{subwoofer}}</li>
                                    <li class="list-group-item"><b>Bluetooth: </b>{{bluetooth}}</li>
                                    <li class="list-group-item"><b>USB: </b>{{USB}}</li>
                                </ul>
                                {{/with}}
                            </div>
                        </div>
                        {{/with}}
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <h3>Exterior</h3>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {{#with exterior}}
                        <p>
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseExampleOne" aria-expanded="false"
                                aria-controls="collapseExampleOne">
                                <b>Wheels</b>
                            </button>
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseExampleTwo" aria-expanded="false"
                                aria-controls="collapseExampleTwo">
                                <b>Headlights</b>
                            </button>
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseExampleThree" aria-expanded="false"
                                aria-controls="collapseExampleThree">
                                <b>Sunroof</b>
                            </button>
                        </p>
                        <div class="collapse" id="collapseExampleOne">
                            <div class="card card-body">
                                {{#with wheels}}
                                <h5 class="fw-semibold text-center">Wheels</h5>
                                <ul class="list-group">
                                    <li class="list-group-item"><b>Size: </b>{{size}}</li>
                                    <li class="list-group-item"><b>Type: </b>{{type}}</li>
                                    <li class="list-group-item"><b>Color: </b>{{color}}</li>
                                </ul>
                                {{/with}}
                            </div>
                        </div>
                        <div class="collapse" id="collapseExampleTwo">
                            <div class="card card-body">
                                {{#with headlights}}
                                <h5 class="fw-semibold text-center">Headlights</h5>
                                <ul class="list-group">
                                    <li class="list-group-item"><b>Type: </b>{{type}}</li>
                                    <li class="list-group-item"><b>Brightness: </b>{{brightness}}</li>
                                    <li class="list-group-item"><b>Automatic: </b>{{automatic}}</li>
                                </ul>
                                {{/with}}
                            </div>
                        </div>
                        <div class="collapse" id="collapseExampleThree">
                            <div class="card card-body">
                                {{#with sunroof}}
                                <h5 class="fw-semibold text-center">Sunroof</h5>
                                <ul class="list-group">
                                    <li class="list-group-item"><b>Type: </b>{{type}}</li>
                                    <li class="list-group-item"><b>Size: </b>{{size}}</li>
                                    <li class="list-group-item"><b>Automatic: </b>{{automatic}}</li>
                                </ul>
                                {{/with}}
                            </div>
                        </div>
                        {{/with}}
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <h3>Safety</h3>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {{#with safety}}
                        <p>
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseExampleOne" aria-expanded="false"
                                aria-controls="collapseExampleOne">
                                <b>Airbags</b>
                            </button>
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseExampleTwo" aria-expanded="false"
                                aria-controls="collapseExampleTwo">
                                <b>Assistance</b>
                            </button>
                        </p>
                        <div class="collapse" id="collapseExampleOne">
                            <div class="card card-body">
                                {{#with airbags}}
                                <h6> Front <span class="badge bg-secondary">{{front}}</span></h6>
                                <h6> Side <span class="badge bg-secondary">{{side}}</span></h6>
                                <h6> Knee <span class="badge bg-secondary">{{knee}}</span></h6>
                                <h6> Rear <span class="badge bg-secondary">{{rear}}</span></h6>
                                {{/with}}
                            </div>
                        </div>
                        <div class="collapse" id="collapseExampleTwo">
                            <div class="card card-body">
                                {{#with assistance}}
                                <h6> Blind spot monitoring <span
                                        class="badge bg-secondary">{{blind_spot_monitoring}}</span></h6>
                                <h6> Rear cross traffic alert <span
                                        class="badge bg-secondary">{{rear_cross_traffic_alert}}</span></h6>
                                <h6> Lane departure warning <span
                                        class="badge bg-secondary">{{lane_departure_warning}}</span></h6>
                                <h6> Adaptive cruise control <span
                                        class="badge bg-secondary">{{adaptive_cruise_control}}</span></h6>
                                <h6> Collision warning <span class="badge bg-secondary">{{collision_warning}}</span>
                                </h6>
                                {{/with}}
                            </div>
                        </div>
                        {{/with}}
                    </div>
                </div>
            </div>
        </div>
        {{/with}}
    </section>
    <br>
    <hr>
    <br>
    <section>
        <p class="text-center">
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#ollapseExampleOne"
                aria-expanded="false" aria-controls="ollapseExampleOne">
                <b>Engine</b>
            </button>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#ollapseExampleTwo"
                aria-expanded="false" aria-controls="ollapseExampleTwo">
                <b>Fuel economy</b>
            </button>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                data-bs-target="#ollapseExampleThree" aria-expanded="false" aria-controls="ollapseExampleThree">
                <b>Price</b>
            </button>
        </p>
        <div class="collapse" id="ollapseExampleOne">
            <div class="card card-body">
                {{#with engine}}
                <h5 class="fw-semibold text-center">Engine</h5>
                <ul class="list-group">
                    <li class="list-group-item"><b>Type: </b>{{type}}</li>
                    <li class="list-group-item"><b>Displacement: </b>{{displacement}}</li>
                    <li class="list-group-item"><b>Horsepower: </b>{{horsepower}}</li>
                    <li class="list-group-item"><b>Torque: </b>{{torque}}</li>
                    <li class="list-group-item"><b>Transmission: </b>type: {{transmission.type}}, gears:
                        {{transmission.gears}}</li>
                </ul>
                {{/with}}
            </div>
        </div>
        <div class="collapse" id="ollapseExampleTwo">
            <div class="card card-body">
                {{#with fuel_economy}}
                <h5 class="fw-semibold text-center">Fuel economy</h5>
                <ul class="list-group">
                    <li class="list-group-item"><b>City: </b>{{city}}</li>
                    <li class="list-group-item"><b>Highway: </b>{{highway}}</li>
                    <li class="list-group-item"><b>Combined: </b>{{combined}}</li>
                </ul>
                {{/with}}
            </div>
        </div>
        <div class="collapse" id="ollapseExampleThree">
            <div class="card card-body">
                {{#with price}}
                <h5 class="fw-semibold text-center">Price</h5>
                <ul class="list-group">
                    <li class="list-group-item"><b>Base: </b>{{base}}</li>
                    <li class="list-group-item"><b>Destination: </b>{{destination}}</li>
                    <li class="list-group-item"><b>Options: </b>Options: navigation - {{price.navigation}}, moonroof -
                        {{price.moonroof}}, premium paint - {{price.premium_paint}}</li>
                </ul>
                {{/with}}
            </div>
        </div>
        <br>
        <hr>
        <br>
        <h2 class="text-center">Total price <span class="badge bg-secondary bg-danger">{{price.total}}</span></h2>
    </section>
</main>