<main>
	{{> shopheader}}
	<h1 class="mb-5">{{header}}</h1>
	<section class="row">
		<div class="col-8">
			{{#with contacts_data}}
			<h3>{{title}}</h3>
			{{#each buttons}}
			<button type="button"
				class="my-2 btn {{#if isPrimary}}btn-primary{{else if isOutline}}btn-outline-warning{{else}}btn-warning{{/if}}">
				{{text}}</button>
			{{/each}}

			{{#with form}}
			{{#with input}}
			<div class="row">
				{{#with surname}}
				<div class="col-6">
					<label for="surName" class="form-label">{{label}}</label>
					<input type="text" id="surName" class="form-control" placeholder={{placeholder}}
						aria-describedby="surNameHelp">
					<div id="surNameHelp" class="form-text">
						{{caption}}
					</div>
				</div>
				{{/with}}
				{{#with name}}
				<div class="col-6">
					<label for="name" class="form-label">{{label}}</label>
					<input type="text" id="name" class="form-control" placeholder={{placeholder}}
						aria-labelledby="nameHelp">
					<div id="nameHelp" class="form-text">
						{{caption}}
					</div>
				</div>
				{{/with}}
				{{#with phone}}
				<div class="col-6">
					<label for="phone" class="form-label">{{label}}</label>
					<input type="tel" id="phone" class="form-control" placeholder={{placeholder}}
						aria-labelledby="phoneHelp" pattern="+380[0-9]{2}-[0-9]{3}-[0-9]{4}" required>
					<div id="phoneHelp" class="form-text">
						{{caption}}
					</div>
				</div>
				{{/with}}



				{{/with}}
			</div>
			{{/with}}
		</div>
		<div class="col-4">

		</div>
		{{/with}}
	</section>
	<hr class="my-5">
	{{>shopfooter}}
</main>