<main>
    {{> shopheader}}
    <section name="formBlock" class="row">
        {{#with formBlock}}
        <div class="col-8">
            <div name="headerBlock">
                <h1 class="mb-3">{{header}}</h1>
                {{#with rating}}
                <p>{{title}}: {{value}}</p>
                {{/with}}
            </div>
            <div name="actionBlock">
                {{#with actionBlock}}
                <ul class="nav nav-tabs nav-fill">
                    {{#each tabs}}
                    <li class="nav-item">
                        <a class="nav-link {{#if isActive}}active{{/if}}" aria-current="page" href="#">{{text}}</a>
                    </li>
                    {{/each}}
                </ul>
                <hr class="my-5">
                <div class="reportBlock">
                    {{#with report}}
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">{{title}}</p>
                            {{#with button}}
                            <a href="{{link}}" class="btn btn-primary">{{text}}</a>
                            {{/with}}
                        </div>
                    </div>
                    {{/with}}
                </div>
                <hr class="my-5">
                {{/with}}
            </div>
            <div name="feedbackBlock">
                {{#with feedbackBlock}}
                <h2 class="mb-3">{{title}}</h2>
                {{#each buttons}}
                <a href="{{link}}"
                    class="btn btn-{{#if isWarning}}warning{{else if isSuccess}}success{{else if isDanger}}danger{{/if}}">{{text}}</a>
                {{/each}}
                {{/with}}
            </div>
        </div>
        <aside name="goodsInfo" class="col-4">
            {{#with goodsInfo}}
            <div class="mb-3 card">
                <div class="card-body">
                    <img src="{{photo}}" class="rounded" alt="{{photo}}">
                    <p class="mt-3"><b>{{name}}</b></p>
                </div>
            </div>
            <div class="mb-3 card">
                <div class="card-body">
                    <p class="mt-3"><b>{{price}}</b></p>
                    {{#if inMarket}}<p class="mt-3">Є в наявності</p>{{else}}<p class="mt-3">Намає в наявності</p>
                    {{/if}}
                    {{#each buttons}}
                    <a href="{{link}}"
                        class="btn btn-{{#if isPrimary}}primary{{else if isSecondary}}secondary{{/if}}">{{text}}</a>
                    {{/each}}
                </div>
            </div>
            <div class="mb-3 card">
                <div class="card-body">
                    {{#with seller}}
                    <p class="p-0 m-0">{{title}}: <b>{{value}}</b></p>
                    {{/with}}
                </div>
            </div>
            {{/with}}
        </aside>
        {{/with}}
    </section>
    <hr class="my-5">
    <section name="reviewList">
        <div class="mb-5">
            {{#each reviewList}}
            {{> reviewItem}}
            {{/each}}
        </div>
    </section>
    <div name="serviceBlok">
        {{#with service}}
        {{> serviceBlock}}
        {{/with}}
    </div>
    <hr class="my-5">
    {{> shopfooter}}
</main>