<div>
    {{#with main}}
    <main>
        <section>
            {{> title data="Work history" big=true}}
            <div>
                <ul>
                    {{#each works}}
                    <li>
                        <div>{{position}}</div>
                        <div class="mb-2">
                            {{duration.to}} - 
                            {{#if duration.to}}
                                {{duration.to}}
                            {{else}}
                                (по данний час)
                            {{/if}}
                        </div>
                        <div class="mb-4">
                            {{#if company.url}}
                            {{> lnk text=company.name href=company.url blank=true noLine=true}}
                            {{else}}
                            <b>{{company.name}}</b>
                            {{/if}}
                        </div>
                        <div class="mb-2">
                            <strong>Projects: {{projectAmount}}</strong>
                        </div>
                        <ul>
                            {{#each projects}}
                            <li>
                                <div class="my-3">{{> lnk text=name href=url blank=true noLine=true}}</div>
                                <div>
                                    <p>
                                        {{about}}
                                    </p>
                                </div>
                                <em>Project stacks ({{stackAmount}})</em>
                                <div class="my-3">
                                    <ul>
                                        {{#each stacks}}
                                        <li>
                                            {{name}}
                                        </li>
                                        {{/each}}
                                    </ul>
                                </div>
                                <em>Project awards ({{awardAmount}})</em>
                                <div class="my-3">
                                    <ul>
                                        {{#each awards}}
                                        <li>
                                            {{name}}
                                        </li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </section>
    </main>
    {{/with}}
</div>