<div class="col-6 d-flex align-items-stretch">
  <div class="card">
    <img src="{{img}}" class="card-img-top" alt="{{img}}">
    <div class="card-body">
      {{#if isHot}}<span class="badge rounded-pill text-bg-warning mb-3">HOT!</span>{{/if}}
      {{#if isNew}}<span class="badge rounded-pill text-bg-primary mb-3">Нове</span>{{/if}}
      <div class="flex-column mb-3">
        {{#if isFast}}<p class="btn btn-success btn-sm flex-column mb-1">Швидка доставка</p>{{/if}}
        {{#if isFree}}<p class="btn btn-secondary btn-sm flex-column mb-1">Безкоштовна доставка</p>{{/if}}
      </div>
      <h5 class="card-title">{{name}}</h5>
      <p class="card-text">{{review.amount}} {{review.text}}</p>
      <h4 class="card-title">{{price}}</h4>
      <p class="card-text">{{delivery}}</p>
      {{#each buttons}}
      <a href="{{link}}"
        class="btn btn-{{#if isPrimary}}primary{{else if isSecondary}}secondary{{/if}} mb-2">{{text}}</a>
      {{/each}}
      <ul>
        {{#each characteristics}}
        <li style="list-style-type: square">{{title}}: {{value}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>