<footer>
  <div class="mt-5">
    {{#with social}}
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="{{email.href}}">{{email.text}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{phone.href}}">{{phone.text}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{telegram.href}}">{{telegram.text}}</a>
      </li>
    </ul>
    {{/with}}
  </div>
  <div class="my-3 ms-3">
    <em>Copiright by {{firstname}} {{lastname}}</em>
  </div>
  <div class="my-3 ms-3">
    <address>
      {{address}}
    </address>
  </div>
</footer>